{% extends 'base.html.twig' %}
{% block body %}

<div class="text-center">
    <h3>Connexion</h3>

    <div class="jumbotron text-center">
        <Connexion></Connexion>
    </div>
</div>

{% endblock %}